body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
}

h1 {
    font-size: 50px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background: red;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.text {
    width: 70%;
    display: flex;
    align-items: center;
}

.main {
    background: lime;
    display: flex;
    flex-direction: row;
}

.aside {
    width: 30%;
}

.section {
    width: 70%;
}

button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    /* cursor: pointer;
    transition: 0.3s; */
    font-size: 17px;
}

.number {
    display: flex;
    justify-content: center;
}